API_ID=18618549 # get this value from my.telegram.org
API_HASH=97801a2305a9da9130bd4e9d65a8a9b8 # get this value from my.telegram.org
BOT_TOKEN=5475655597:AAFT8DIwK2QNHqzjtmsHsMQ49YE8BBnSOGc  # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://vonfreecs:vonfreecs@cluster0.8dbm5.mongodb.net/?retryWrites=true&w=majority 
# get this value from mongodb.com
LOG_GROUP_ID=-1001563169845 # get this value from in your log group 
MUSIC_BOT_NAME=Uno # your music bot name 
STRING_SESSION=BQBrakCyW6FE8QCTwiqKrGi-k5KOmFH67a5uXKwx8l39HTccvcl4LeWxWG7O38AccaIz90zd0lbWX8gK8G7_7w9-mjWOXljPrjBB4WFBskJk20iDrYLOgEF0Mdw5_tTGc_ue0NfyOLdTDYI5I7VxIC8PLBKoPEbxDBGlWP6ppIAbgX5v5QA591kzUhTgfiV48A7IXy3vrzjwEDHvi4CMdq8Ps8Fcpps3CBe-Mn3hvhQ2lrEzRHxz9Ez08gq1fkAODmyu9WN3Gv3oYYARtlTAVeF7uHD--wDR-ogEYFoKEoGLg05ETTwFPK9WfP3YXUNsccosusGOU5o3PkrVO8tDP4uxAAAAAT-EaisA  # get this value from @yukkistringbot
OWNER_ID=5360609835
SPOTIFY_CLIENT_ID=3684640db50b4dd4907beb6db89b5609
SPOTIFY_CLIENT_SECRET=70b9cc1b7fd8479b8a50119f2d1649fc
DURATION_LIMIT= 300
YOUTUBE_EDIT_SLEEP= 3
TELEGRAM_EDIT_SLEEP= 5
AUTO_LEAVING_ASSISTANT= True
ASSISTANT_LEAVE_TIME= 5400
AUTO_SUGGESTION_MODE= True
AUTO_SUGGESTION_TIME= 3600
